<li id="hobby">
  <%= link_to hobby_posts_path do %>
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>　趣味仲間を見つける
  <% end %>
</li>

<li id="habit">
  <%= link_to habit_posts_path do %>
    <i class="fa fa-graduation-cap" aria-hidden="true"></i> 習慣仲間を見つける
  <% end %>
</li>

<li id="team">
  <%= link_to team_posts_path do %>
    <i class="fa fa-users" aria-hidden="true"></i> チームメンバーを見つける
  <% end %>
</li>
  